.breadcrumbs ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.breadcrumbs li {
    display: inline;
    font-size: 18px;
}

.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumbs li a {
    color: #0275d8;
    text-decoration: none;
}

.breadcrumbs li a:hover {
    text-decoration: underline;
}