.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

.game-status {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

#restart-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}