/* The float property was traditionally used for layout. */
/* It's less common for overall page layout now, but still useful for things like wrapping text around images. */

.container {
    border: 1px solid black;
    padding: 10px;
    /* The overflow property is needed here to contain the floated elements */
    overflow: auto;
}

.float-left {
    float: left;
    width: 45%;
    background-color: lightblue;
}

.float-right {
    float: right;
    width: 45%;
    background-color: lightgreen;
}

/* For more advanced layout, check out the flexbox and grid folders! */
