.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin: 20px 0;
}

.progress-bar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    color: white;
}