body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    padding: 10px 0;
}

.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-menu > li {
    position: relative;
    margin: 0 15px;
}

.main-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.main-menu a:hover {
    background-color: #555;
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #444;
    display: none;
    min-width: 160px;
    z-index: 1000;
}

.has-submenu:hover > .submenu {
    display: block;
}

.submenu li {
    position: relative;
}

.submenu .submenu {
    left: 100%;
    top: 0;
}

.submenu a {
    padding: 10px 15px;
    white-space: nowrap;
}
