body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    margin: 0;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    cursor: pointer;
}

.nav-toggle-label span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    #nav-toggle:checked ~ .nav-menu {
        display: flex;
    }

    .nav-toggle-label {
        display: block;
    }
}