.house {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
}

.roof {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #e74c3c;
    position: absolute;
    top: -100px;
}

.wall {
    width: 200px;
    height: 200px;
    background-color: #f1c40f;
    position: absolute;
    bottom: 0;
}

.window {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    position: absolute;
    top: 50px;
    left: 25px;
}

.door {
    width: 60px;
    height: 100px;
    background-color: #8b4513;
    position: absolute;
    bottom: 0;
    left: 70px;
}