.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-header {
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion-header:hover, .accordion-header.active {
    background-color: #ddd;
}

.accordion-content {
    padding: 0 1rem;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}