/* ================================ */
/* 1. Selectors & Basic Properties - Hero Section */
/* ================================ */

/* ================================ */
/* 2. Fonts - Features Section */
/* ================================ */

/* ================================ */
/* 3. Colors - Call to Action Section */
/* ================================ */

/* ================================ */
/* 5. Flex - Programs Section */
/* ================================ */

/* ================================ */
/* 6. HTML Elements & Images - Form Section */
/* ================================ */

/* ================================ */
/* 8. Images and Final Styling */
/* ================================ */

/* ================================ */
/* 9. Navbar and Footer Section */
/* ================================ */

/* there are types of slectors

universal selector (*)
type selector (element name)
class selector (.classname)
id selector (#idname)
grouping selector (selector1, selector2)
descendant selector (parent child)
attribute selector ([type="text"])
pseudo-class selector (a:hover)
pseudo-element selector (p::first-letter)

/* 10. Miscellaneous Section    

block elments are as follows:
<div>
<p>
<h1> to <h6>
<ul>
<ol>
<li>
<form>
<section>
<header>
<footer>
<span>

inline elements are as follows:
<a>
<img>
<span>  
<button>
    
*/


